<h1 class="text-center m-3">Account Login</h1>
<form action="/login" method="post" class="d-grid col-4 mx-auto">
  <div class="m-3">
    <input type="email" name="email" class="form-control" placeholder="Email">
  </div>
  <div class="m-3">
    <input type="password" name="password" class="form-control" placeholder="Password">
  </div>
  <div class="d-grid col-4 my-3 mx-auto">
    <button type="submit" class="btn btn-outline-dark">Sign in</button>
  </div>
</form>